/* Remove linha inferior do header/h2 do card */
article.card > section header,
article.card > section header h2 {
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
}
/* Remove faixa preta do header do card */
article.card > section header {
  background: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
/* Container para centralizar os cards */
.cards-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}
}

html {
  min-block-size: 100%;
  /* Foundations */

  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;

  /* Radius */
  --radius-1: 4px;
  --radius-2: 8px;

  /* Border */
  --border-1: 1px;

  /* Neutral */
  --white: #ffffff;
  --black: #000000;
  --gray-000: #efefef;
  --gray-100: #dfdfdf;
  --gray-200: #cbcbcb;
  --gray-300: #b7b7b7;
  --gray-400: #969696;
  --gray-500: #747474;
  --gray-600: #616161;
  --gray-700: #3a3a3a;
  --gray-800: #1d1d1d;
  --gray-900: #121212;

  /* Colors */
  --orange-400: #ff4d00;
}

:root {
  color-scheme: light dark;

  /* Semantic */
  --surface-000: var(--gray-000);
  --surface-100: var(--gray-100);
  --surface-200: var(--gray-200);
  --border-000: var(--gray-300);
  --dots-hover: var(--black);
  --focus: var(--orange-400);
  --hover: var(--orange-400);
  --active: var(--orange-400);
  --text: var(--black);
  --text-hover: var(--orange-400);
  --text-light: var(--gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-000: var(--black);
    --surface-100: var(--gray-900);
    --surface-200: var(--gray-800);
    --border-000: var(#f6f3f7);
    --dots-hover: var(--gray-600);
    --focus: var(--orange-400);
    --hover: var(--orange-400);
    --active: var(--orange-400);
    --text: var(--gray-000);
    --text-hover: var(--orange-400);
    --text-light: var(--gray-500);
  }
}

::selection {
  background-color: var(--active);
  color: var(--white);
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--surface-000);
  color: var(--text);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-3);
  height: 100%;
}

.container {
  border-width: var(--border-1);
  border-radius: var(--radius-2);
  border-color: var(--border-000);
  border-style: solid;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

.container header {
  background-color: var(--surface-100);
  border-bottom-width: var(--border-1);
  border-bottom-color: var(--border-000);
  border-bottom-style: solid;
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: max(36px, 1.875vw);
  padding: 0 max(10px, 0.625vw);
  position: sticky;
  top: 0;
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;
  -webkit-user-select: none;
}

.fields {
  color: #f6f3f7);
  border-radius: 0.5rem;
  border-color: #f6f3f7;
  display: flex;
  gap: var(--space-3);
}

output {
  display: inline-block;
  text-align: right;
  min-width: 3ch;
}

.dot-grid {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  background-image: radial-gradient(
    var(--surface-200) 0.5px,
    var(--surface-000) 1.5px
  );
  background-size: max(8px, 0.4166666667vw) max(8px, 0.4166666667vw);
  background-repeat: repeat;
  position: relative;
  cursor: crosshair;
}

.dot-grid-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  --radius: 200px;
  mask-image: radial-gradient(
    circle var(--radius) at var(--x) var(--y),
    var(--bg) 40%,
    transparent
  );
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .dot-grid-mask {
    --bg: #000;
    opacity: 0;
    display: block;
    transition: opacity 0.2s ease-in-out;
    background-image: radial-gradient(
      var(--dots-hover) 0.5px,
      var(--surface-000) 1.5px
    );
    background-size: max(8px, 0.4166666667vw) max(8px, 0.4166666667vw);
    background-repeat: repeat;
    will-change: webkitmaskimage, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    inset: 0;
  }

  .dot-grid:hover .dot-grid-mask {
    opacity: 1;
  }
}

/* Background + centering for the page with two cards */
body {
  background: url("../public/SL-072622-51930-14.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 1000vh;
  margin: 0;
  overflow: hidden;
  display: fixed;
  align-items: center;
  justify-content: center;
}

/* Ensure main centers cards (two) in the viewport */
main {
  flex-wrap: wrap;
  gap: 5rem;
}

/* Card component */
article.card {
  --bg: #ffffff;
  --title-color: #ffffff;
  --title-color-hover: #000000;
  --text-color: #666;
  --button-color: #eee;
  --button-color-hover: #ddd;
  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  height: 30rem;
  margin: 2rem;
  overflow: clip;
  position: relative;
  font-family: Lato,Montserrat, Helvetica, Arial, sans-serif;
}

article.card.dark {
  --bg: #222;
  --title-color: #fff;
  --title-color-hover: #fff;
  --text-color: #ccc;
  --button-color: #555;
  --button-color-hover: #444;
}

article.card::before {
 content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 30%;
    bottom: 0.5rem;
    left: 0.5rem;
    mask: linear-gradient(#0000, #000f 50%);
    backdrop-filter: blur(10px);
    border-radius: 0 0 1.5rem 1.5rem;
    translate: 0 0;
    transition: translate 0.0.1s;
}

article.card > img {
    max-width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 1.9rem;
    display: block;
    transition: aspect-ratio 0.25s, object-position 0.5s;
}

article.card > section {
  margin: 1rem;
  height: calc(33.3333% - 1rem);
  display: flex;
  flex-direction: column;
}

article.card > section header h2 {

   margin: 0;
      margin-block-end: rem;
      font-size: 1.5rem;
      opacity: 0;
      translate: 0 -200%;
      opacity: 1;
      color: var(--title-color);
      transition: color 0.5s, margin-block-end 0.25s, opacity 1s,
        translate 0.25s;
}

article.card > section p {
 font-size: 0.95rem;
      line-height: 1;
      color: var(--text-color);
      opacity: 0;
      margin: 0;
      translate: 0 100%;
      transition: margin-block-end 0.25s, opacity 1s 0.2s, translate 0.25s 0.2s;
}

article.card > section footer {
  flex: 1;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  translate: 0 100%;
  opacity: 0;
  transition: translate .25s .2s, opacity 1s;
}

article.card > section .tag,
article.card > section span.tag {
  align-self: center;
  color: var(--title-color-hover);
}

article.card > section button {
   border: 1px solid #0000;
      border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
      font-size: 1rem;
      padding: 1rem 1.5rem 1rem 2.7rem;
      translate: 1rem;
      background: var(--button-color);
      transition: background 0.33s;
      outline-offset: 2px;
      position: relative;
      color: var(--title-color-hover);
}

article.card > section button::before,
article.card > section button::after {
  content: "";
  width: .85rem;
  height: .1rem;
  background: currentcolor;
  position: absolute;
  top: 50%;
  left: 1.33rem;
  border-radius: 1rem;
}

article.card > section button::after {
  rotate: 90deg;
  transition: rotate .15s;
}

article.card > section button.following::after {
  rotate: 0deg;
}

article.card > section button:hover {
  background: var(--button-color-hover);
}

article.card > section button:focus {
  outline: 2px solid var(--text-color);
}

/* Hover / focus reveal */
article.card:hover::before,
article.card:focus-within::before {
  translate: 0 100%;
}

article.card:hover > img,
article.card:focus-within > img {
  aspect-ratio: 1 / 1;
  object-position: 50% 10%;
  transition: aspect-ratio .25s, object-position .25s;
}

article.card:hover > section header h2,
article.card:focus-within > section header h2,
article.card:hover > section p,
article.card:focus-within > section p {
  translate: 0 0;
  margin-block-end: .5rem;
  opacity: 1;
}

article.card:hover > section header h2,
article.card:focus-within > section header h2 {
  color: var(--title-color-hover);
}

article.card:hover > section footer,
article.card:focus-within > section footer {
  translate: 0 0;
  opacity: 1;
  transition: translate .25s .25s, opacity .5s .25s;
}

